<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395366537530-kaaonjt5bmetgu63f0sckighidepd2bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395366537530-kaaonjt5bmetgu63f0sckighidepd2bc</string>
	<key>API_KEY</key>
	<string>AIzaSyDYO0p92gVwHdnf5XsOjikFXlg6HyShs-A</string>
	<key>GCM_SENDER_ID</key>
	<string>395366537530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ootw</string>
	<key>PROJECT_ID</key>
	<string>ootw-904c2</string>
	<key>STORAGE_BUCKET</key>
	<string>ootw-904c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395366537530:ios:a81120171117b0fa5a5803</string>
	<key>DATABASE_URL</key>
	<string>https://ootw-904c2.firebaseio.com</string>
</dict>
</plist>