<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45879003396-rp59f51q86i6mc18m02iq7ecedvdsqmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45879003396-rp59f51q86i6mc18m02iq7ecedvdsqmt</string>
	<key>API_KEY</key>
	<string>AIzaSyCPqmlEB_GeVgLZpN1Raea90DHIbUr7F7U</string>
	<key>GCM_SENDER_ID</key>
	<string>45879003396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ootwappmobileapp2020</string>
	<key>PROJECT_ID</key>
	<string>ootw-mobileapp2020</string>
	<key>STORAGE_BUCKET</key>
	<string>ootw-mobileapp2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45879003396:ios:7d41d80233f28694b3e851</string>
	<key>DATABASE_URL</key>
	<string>https://ootw-mobileapp2020.firebaseio.com</string>
</dict>
</plist>